{% load static %}

	<!-- Project One -->
      <div class="row">
        <div class="col-md-2">
          <a href="#">
			  <img class="img-fluid rounded mb-3 mb-md-0"
			  src="{% if journal %}{{journal.logo.url}}{% endif %}" alt="" width="100%" height="100%">
          </a>
        </div>
        <div class="col-md-10">
			<h3>{% if journal %}{{ journal.name }}{% endif %}</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
		  {{ cart }}
		  {{ price }}
		  </p>
          <a class="btn btn-primary" href="#">View Journal</a>
		  {% if not journal.id in request.session %}
		  <a class="btn btn-warning" href="add/{{ journal.id }}/">
			  Subscribe (${{ journal.subscription_fee }})
		  </a>
		  {% endif %}
        </div>
      </div>
      <!-- /.row -->

      <hr>

